<app-loading *ngIf="loading"></app-loading>
<div [ngClass]="loading ? 'container blur' : 'container'">
  <div class="mainTitle">
    <h1>Wins</h1>
  </div>

  <div class="row center mb-2">
    <div class="col-md-6 mb-2">
      <app-dropdown-filter
        [filter]="'season'"
        [selected_id]="season_id"
        [selected_name]="season_name"
        [options]="season_options"
        (setOptionEvent)="setSeason($event)"
      ></app-dropdown-filter>
    </div>
    <div class="col-md-6 mb-2">
      {{ "Pulls: " + pulls.size }}
    </div>
  </div>

  <div class="row">
    <table class="table table-light table-hover">
      <thead>
        <tr>
          <th class="center width-25px">
            <div class="clickable" (click)="toggleRowShowAll()">
              <i *ngIf="!row_show_all" class="bi bi-chevron-down"></i>
              <i *ngIf="row_show_all" class="bi bi-chevron-up"></i>
            </div>
          </th>
          <th>Class</th>
          <th>Leaders</th>
          <th>Wins</th>
          <th>Win %</th>
          <th>Winners</th>
          <th>Times Pulled</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let cl_n of class_names">
          <ng-container *ngIf="data[cl_n]">
            <tr class="align-middle">
              <td class="center">
                <div class="clickable" (click)="toggleRowShow(cl_n)">
                  <i *ngIf="!row_show[cl_n]" class="bi bi-chevron-down"></i>
                  <i *ngIf="row_show[cl_n]" class="bi bi-chevron-up"></i>
                </div>
              </td>
              <td>{{ cl_n }}</td>
              <td>{{ getPullersStr(data[cl_n].leaders) }}</td>
              <td [ngClass]="getWinsClass(data[cl_n].max_wins)">
                {{ data[cl_n].max_wins }}
              </td>
              <td [ngClass]="getPercentageClass(data[cl_n].percentage)">
                {{ data[cl_n].percentage }}
              </td>
              <td>{{ data[cl_n].winner_count }}</td>
              <td>{{ data[cl_n].times_pulled }}</td>
            </tr>
            <tr *ngIf="row_show[cl_n]">
              <td></td>
              <td colspan="6">
                <table class="table table-light">
                  <thead>
                    <tr>
                      <th>Puller</th>
                      <th>Wins</th>
                      <th>Win %</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let p_id of data[cl_n].winner_list">
                      <td>{{ getPullerStr(p_id) }}</td>
                      <td [ngClass]="getWinsClass(data[cl_n].winners[p_id])">
                        {{ data[cl_n].winners[p_id] }}
                      </td>
                      <td
                        [ngClass]="
                          getPercentageClass(
                            getPercentageStr(data[cl_n].winners[p_id], cl_n)
                          )
                        "
                      >
                        {{ getPercentageStr(data[cl_n].winners[p_id], cl_n) }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
