<app-loading *ngIf="loading"></app-loading>
<div [ngClass]="loading ? 'container blur' : 'container'">
  <div class="mainTitle">
    <h1>Pullers</h1>
  </div>

  <div class="row center mb-2">
    <div class="col-lg-3 mb-2">
      <app-dropdown-filter
        [filter]="'puller'"
        [selected_id]="puller_id"
        [selected_name]="puller_name"
        [options]="pullers"
        (setOptionEvent)="setPuller($event)"
      ></app-dropdown-filter>
    </div>
    <div class="col-lg-3 mb-2">
      <app-dropdown-filter
        [filter]="'option'"
        [selected_id]="metric"
        [selected_name]="metric"
        [options]="metric_options"
        (setOptionEvent)="setMetric($event)"
      ></app-dropdown-filter>
    </div>
    <div class="col-lg-3 mb-2">
      <app-dropdown-filter
        [filter]="'option'"
        [selected_id]="category"
        [selected_name]="category"
        [options]="category_options"
        (setOptionEvent)="setCategory($event)"
      ></app-dropdown-filter>
    </div>
    <div class="col-lg-3 mb-2">
      <app-dropdown-filter
        [filter]="'season'"
        [selected_id]="season_id"
        [selected_name]="season_name"
        [options]="season_options"
        (setOptionEvent)="setSeason($event)"
      ></app-dropdown-filter>
    </div>
  </div>

  <div class="row center mb-2">
    <div class="col-12 mb-2">
      <canvas
        *ngIf="chart_labels.length > 0"
        baseChart
        [labels]="chart_labels"
        [datasets]="chart_data"
        [options]="chart_options"
        type="line"
      >
      </canvas>
      <p *ngIf="chart_labels.length === 0">
        There is no data with the specified settings. Please change the options
        until there is any information to show.
      </p>
    </div>
  </div>
</div>
