<app-unauthorized
  *ngIf="!authorized"
  (authorizeEvent)="authorize()"
></app-unauthorized>

<div *ngIf="authorized" class="container">
  <div class="mainTitle">
    <h1>Manage</h1>
  </div>

  <div class="row center mb-2">
    <div class="col-lg-2 mb-2">
      <app-dropdown-filter
        [filter]="'table'"
        [selected_id]="table"
        [selected_name]="table"
        [options]="table_options"
        (setOptionEvent)="setTable($event)"
      ></app-dropdown-filter>
    </div>
    <div class="col-lg-2 mb-2">
      <app-dropdown-filter
        [filter]="'season'"
        [selected_id]="season_id"
        [selected_name]="season_name"
        [options]="season_options"
        (setOptionEvent)="setSeason($event)"
      ></app-dropdown-filter>
    </div>
    <div class="col-lg-4 mb-2">
      <app-dropdown-filter
        *ngIf="season_id"
        [filter]="'pull'"
        [selected_id]="pull_id"
        [selected_name]="pull_name"
        [options]="pull_options"
        [locations]="locations"
        (setOptionEvent)="setPull($event)"
      ></app-dropdown-filter>
    </div>
    <div class="col-lg-4 mb-2">
      <app-dropdown-filter
        *ngIf="pull_id"
        [filter]="'class'"
        [selected_id]="class_id"
        [selected_name]="class_name"
        [options]="class_options"
        (setOptionEvent)="setClass($event)"
      ></app-dropdown-filter>
    </div>
  </div>

  <div class="row mb-2" *ngIf="showAddNew()">
    <div class="col-lg-4 mb-2 center">
      <app-dropdown-filter
        *ngIf="table == 'hooks'"
        [filter]="'puller'"
        [button]="'btn-success'"
        [selected_id]="puller_id"
        [selected_name]="puller_name"
        [options]="puller_options"
        (setOptionEvent)="setPuller($event)"
      ></app-dropdown-filter>
    </div>
    <div class="col-lg-4 mb-2 center">
      <app-dropdown-filter
        *ngIf="table == 'hooks'"
        [filter]="'tractor'"
        [button]="'btn-success'"
        [selected_id]="tractor_id"
        [selected_name]="tractor_name"
        [options]="tractor_options"
        (setOptionEvent)="setTractor($event)"
      ></app-dropdown-filter>
      <app-dropdown-filter
        *ngIf="table == 'pulls'"
        [filter]="'location'"
        [button]="'btn-success'"
        [selected_id]="location_id"
        [selected_name]="location_name"
        [options]="location_options"
        (setOptionEvent)="setLocation($event)"
      ></app-dropdown-filter>
    </div>
    <div class="col-lg-4 mb-2 right">
      <button type="button" class="btn btn-success" (click)="addNew()">
        Add New
      </button>
    </div>
  </div>

  <div class="row mb-2">
    <table class="table table-light table-hover">
      <thead>
        <tr>
          <th>id</th>
          <th *ngFor="let column of columns">
            {{ column }}
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of data | keyvalue: sortMethod">
          <tr>
            <td>{{ item.value.id }}</td>
            <td *ngFor="let column of columns">
              <ng-container [ngSwitch]="column">
                <ng-container *ngSwitchCase="'position'">
                  {{ item.value[column] }}
                </ng-container>
                <ng-container *ngSwitchCase="'puller'">
                  <app-manage-select-field
                    [id]="item.key"
                    [column]="column"
                    [value]="data[item.key][column]"
                    [objects]="pullers"
                    (selectFieldEvent)="selectField($event)"
                  ></app-manage-select-field>
                </ng-container>
                <ng-container *ngSwitchCase="'tractor'">
                  <app-manage-select-field
                    [id]="item.key"
                    [column]="column"
                    [value]="data[item.key][column]"
                    [objects]="tractors"
                    (selectFieldEvent)="selectField($event)"
                  ></app-manage-select-field>
                </ng-container>
                <ng-container *ngSwitchCase="'location'">
                  <app-manage-select-field
                    [id]="item.key"
                    [column]="column"
                    [value]="data[item.key][column]"
                    [objects]="locations"
                    (selectFieldEvent)="selectField($event)"
                  ></app-manage-select-field>
                </ng-container>
                <ng-container *ngSwitchCase="'season'">
                  <app-manage-select-field
                    [id]="item.key"
                    [column]="column"
                    [value]="data[item.key][column]"
                    [objects]="seasons"
                    (selectFieldEvent)="selectField($event)"
                  ></app-manage-select-field>
                </ng-container>
                <ng-container *ngSwitchCase="'pull'">
                  <app-manage-select-field
                    [id]="item.key"
                    [column]="column"
                    [value]="data[item.key][column]"
                    [objects]="pulls"
                    (selectFieldEvent)="selectField($event)"
                  ></app-manage-select-field>
                </ng-container>
                <ng-container *ngSwitchCase="'class'">
                  <app-manage-select-field
                    [id]="item.key"
                    [column]="column"
                    [value]="data[item.key][column]"
                    [objects]="classes"
                    (selectFieldEvent)="selectField($event)"
                  ></app-manage-select-field>
                </ng-container>
                <ng-container *ngSwitchDefault>
                  <input
                    type="text"
                    class="form-control"
                    (change)="fieldChange(item.key)"
                    [(ngModel)]="data[item.key][column]"
                  />
                </ng-container>
              </ng-container>
            </td>
            <td class="center">
              <button class="btn btn-danger" (click)="deleteRow(item.value.id)">
                <i class="bi bi-trash-fill"></i>
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
