<div class="container">
  <div class="mainTitle">
    <h1>Community Antique Tractor Pullers</h1>
  </div>

  <div class="row mb-2">
    <div class="col-12 mb-2">
      <div class="center">
        <button
          type="button"
          class="btn btn-primary"
          routerLink="/pulling/results"
        >
          Results
        </button>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-6 mb-2">
      <div class="center"></div>
    </div>
    <div class="col-md-6 mb-2">
      <div class="center"></div>
    </div>
  </div>
</div>
