<div class="container">
  <div class="mainTitle">
    <h1>Community Antique Tractor Pullers</h1>
  </div>

  <div class="row mb-2">
    <div class="col-lg-6 mb-2">
      <div class="card bg-light mb-2">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-lg-6 mb-4">
              <h3 class="card-title">Results</h3>
              <p class="card-text">View results from previous pulls.</p>
            </div>
            <div class="col-lg-6 mb-2">
              <div class="row mb-2 center">
                <div class="col-12 mb-2">
                  <br />
                  <button
                    type="button"
                    class="btn btn-secondary"
                    routerLink="/pulling/results"
                  >
                    Results
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card bg-light">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-lg-6 mb-4">
              <h3 class="card-title">Class Analysis</h3>
              <p class="card-text">
                Analyze results of pullers on a per class basis.
              </p>
            </div>
            <div class="col-lg-6 mb-2">
              <div class="row mb-2 center">
                <div class="col-12 mb-2">
                  View which pullers have the most wins in each class
                  <br />
                  <button
                    type="button"
                    class="btn btn-secondary"
                    routerLink="/pulling/wins"
                  >
                    Wins
                  </button>
                </div>
              </div>
              <div class="row mb-2 center">
                <div class="col-12 mb-2">
                  View which pullers have the most points in each class
                  <br />
                  <button
                    type="button"
                    class="btn btn-secondary"
                    routerLink="/pulling/points"
                  >
                    Points
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-2">
      <div class="card bg-light max-height">
        <div class="card-body">
          <div class="row mb-2x">
            <div class="col-lg-6 mb-2">
              <div class="row mb-2 center">
                <div class="col-12 mb-4">
                  <h3 class="card-title">Puller Analysis</h3>
                  <p class="card-text">
                    Analyze results of pullers or their tractors regardless of
                    what class they are in.
                  </p>
                </div>
              </div>
              <div class="row mb-2 center">
                <div class="col-12 mb-2">
                  View which pullers/tractors have the best attendance
                  <br />
                  <button
                    type="button"
                    class="btn btn-secondary"
                    routerLink="/pulling/attendance"
                  >
                    Attendance
                  </button>
                </div>
              </div>
              <div class="row mb-2 center">
                <div class="col-12 mb-2">
                  View which pullers/tractors have the best percentiles
                  <br />
                  <button
                    type="button"
                    class="btn btn-secondary"
                    routerLink="/pulling/percentiles"
                  >
                    Percentiles
                  </button>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mb-2">
              <div class="row mb-2 center">
                <div class="col-12 mb-2">
                  View which pullers/tractors go the longest distance
                  <br />
                  <button
                    type="button"
                    class="btn btn-secondary"
                    routerLink="/pulling/distances"
                  >
                    Distances
                  </button>
                </div>
              </div>
              <div class="row mb-2 center">
                <div class="col-12 mb-2">
                  View how pullers/tractors stand head-to-head
                  <br />
                  <button
                    type="button"
                    class="btn btn-secondary"
                    routerLink="/pulling/rivals"
                  >
                    Rivals
                  </button>
                </div>
              </div>
              <div class="row mb-2 center">
                <div class="col-12 mb-2">
                  View how much pullers/tractors have theoretically won
                  <br />
                  <button
                    type="button"
                    class="btn btn-secondary"
                    routerLink="/pulling/winnings"
                  >
                    Winnings
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-6 mb-2">
      <div class="card bg-light">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-lg-4 mb-4">
              <h3 class="card-title">Chart Analysis</h3>
              <p class="card-text">
                Visualize results and analysis through charts.
              </p>
            </div>
            <div class="col-lg-4 mb-2 center">
              View previous pull results through charts
              <br />
              <button
                type="button"
                class="btn btn-secondary"
                routerLink="/pulling/charts/results"
              >
                Results
              </button>
            </div>
            <div class="col-lg-4 mb-2 center">
              View puller/tractor results through charts
              <br />
              <button
                type="button"
                class="btn btn-secondary"
                routerLink="/pulling/charts/pullers"
              >
                Pullers
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-2">
      <div class="card bg-light">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-lg-6 mb-4">
              <h3 class="card-title">Predict</h3>
              <p class="card-text">
                See predictions of how future pulls will end.
              </p>
            </div>
            <div class="col-lg-6 mb-2 center">
              View percentage chance of winning based on given input
              <br />
              <button
                type="button"
                class="btn btn-secondary"
                routerLink="/pulling/predict"
              >
                Predict
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
