<app-loading *ngIf="loading"></app-loading>
<div [ngClass]="loading ? 'container blur' : 'container'">
  <div class="mainTitle">
    <h1>Predict</h1>
  </div>

  <div class="row mb-2 center">
    <p>
      This page allows you to predict the chance of a given situation winning
      first place in a pull. You provide the criteria for a hook, and a
      statistical model will be generated telling you the model score and the
      percentage chance that situation will result in first place.
    </p>
  </div>

  <ng-container *ngFor="let row of rows; index as idx">
    <hr />

    <div class="row mb-2 center">
      <h4>Model {{ idx + 1 }}</h4>
    </div>

    <div class="row mb-2 center">
      <div class="col-sm-6 col-lg-3">
        <div class="form-group">
          <label>Season:</label>
          <app-select-field
            [id]="idx.toString()"
            [column]="'season'"
            [value]="row.season"
            [objects]="seasons"
            (selectFieldEvent)="selectField($event)"
          ></app-select-field>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="form-group">
          <label>Location:</label>
          <app-select-field
            [id]="idx.toString()"
            [column]="'location'"
            [value]="row.location"
            [objects]="locations"
            (selectFieldEvent)="selectField($event)"
          ></app-select-field>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="form-group">
          <label>Puller:</label>
          <app-select-field
            [id]="idx.toString()"
            [column]="'puller'"
            [value]="row.puller"
            [objects]="pullers"
            (selectFieldEvent)="selectField($event)"
          ></app-select-field>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="form-group">
          <label>Tractor:</label>
          <app-select-field
            [id]="idx.toString()"
            [column]="'tractor'"
            [value]="row.tractor"
            [objects]="tractors"
            (selectFieldEvent)="selectField($event)"
          ></app-select-field>
        </div>
      </div>
    </div>

    <div class="row mb-4 center">
      <div class="col-sm-6 col-lg-3">
        <div class="form-group">
          <label>Category:</label>
          <app-select-field
            [id]="idx.toString()"
            [column]="'category'"
            [value]="row.category"
            [objects]="categories"
            (selectFieldEvent)="selectField($event)"
          ></app-select-field>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="form-group">
          <label>Weight:</label>
          <app-select-field
            [id]="idx.toString()"
            [column]="'weight'"
            [value]="row.weight"
            [objects]="weights"
            (selectFieldEvent)="selectField($event)"
          ></app-select-field>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label>Total Hooks in Class:</label>
          <app-select-field
            [id]="idx.toString()"
            [column]="'hook_count'"
            [value]="row.hook_count"
            [objects]="hook_counts"
            (selectFieldEvent)="selectField($event)"
          ></app-select-field>
        </div>
      </div>
    </div>

    <div
      *ngIf="
        row.season &&
        row.location &&
        row.puller &&
        row.tractor &&
        row.category &&
        row.weight &&
        row.hook_count
      "
      class="row mb-4 center"
    >
      <div class="col-12 mb-3">
        <button type="button" class="btn btn-primary" (click)="calculate(idx)">
          Calculate Chances <i class="bi bi-file-spreadsheet"></i>
        </button>
      </div>
      <ng-container *ngIf="row.calculated">
        <div class="col-md-6">
          <p>A model was generated with a score of accuracy at</p>
          <h3>
            {{ getPercentageStr(row.score) }}
          </h3>
        </div>
        <div class="col-md-6">
          <p>The chance that this hook will win first place is</p>
          <h3 [ngClass]="getPercentageClass(row.chance)">
            {{ getPercentageStr(row.chance) }}
          </h3>
        </div>
      </ng-container>
    </div>

    <div class="row mb-4 right">
      <div class="col-12">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="duplicateRow(idx)"
        >
          Duplicate Model <i class="bi bi-files-alt"></i>
        </button>
        &nbsp;
        <button type="button" class="btn btn-danger" (click)="deleteRow(idx)">
          Delete Model <i class="bi bi-file-x"></i>
        </button>
      </div>
    </div>
  </ng-container>

  <div class="row mb-2 center">
    <div class="col12">
      <button type="button" class="btn btn-success" (click)="addRow()">
        Add New Model <i class="bi bi-file-plus"></i>
      </button>
    </div>
  </div>
</div>
