<div class="container">
  <div class="mainTitle">
    <h1>Not Authorized</h1>
  </div>

  <div class="row center mb-3">
    <div class="col-12">
      <input
        type="password"
        class="form-control text-center"
        [(ngModel)]="manager_secret"
        (keyup.enter)="submit()"
      />
    </div>
  </div>
  <div class="row center mb-3">
    <div class="col-12">
      <button type="submit" class="btn btn-danger" (click)="submit()">
        Submit
      </button>
    </div>
  </div>
</div>
