/* Global Styling */

@import "node_modules/bootstrap/scss/bootstrap.scss";

.total-center {
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-center;
  height: 90%;
  width: 100%;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.width-25px {
  width: 25px;
}

.red-border {
  border-color: red;
  border-width: 2px;
  border-style: solid;
}

.red-bg {
  background-color: #f2d7d5 !important;
}

.orange-bg {
  background-color: #fae5d3 !important;
}

.yellow-bg {
  background-color: #fcf3cf !important;
}

.green-bg {
  background-color: #d4efdf !important;
}

.clickable {
  cursor: pointer;
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  -o-filter: blur(5px);
  filter: blur(5px);
}

.mainTitle {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.dropdown-menu {
  overflow-y: auto;
  max-height: 40vh;
}
